/*bleu 009ECE
orange FF9E00
jaune F7D708
rouge CE0000
vert 9CCF31
*/
/** Contre la selection de texte **/
*{
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -webkit-touch-callout: none;
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */

  /* No support for these yet, use at own risk */
  -o-user-select: none;
  user-select: none;          
}

body{
	background-color:#009ECE;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/*** LogoScreen ***/
.app {
    width: 70%;
    margin: 0 auto;
    text-align: center;

}   
    .app img{
        margin-top: 10%;
        width: 80%;
    }

h1 {
    font-size:150%;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:8px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:70%;
    margin:0px 30px;
    padding:5px 15px;
    text-align: center;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*** End LogoScreen ***/

.content{
	font-size: 400%;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: -5%;
}
button{
    font-size: 1em;
    background: none repeat scroll 0 0 transparent;
    border:medium none;
    color:white;
    border-radius: 20px;
}
/*** home ***/

#home{
    text-align: center;
    width: 70%;
    padding: 10%;
    margin: 0 auto;
}
    #home h2{
        margin-bottom: 8%;
    }
    #home button{
        padding: 2%;
        margin: 2% 0 2% 0;
        color:black;
        background-color: #FF9E00;
    }
    #home button:hover{
        background-color:#9CCF31;
    }

/*** Texts ***/

.speak{
    background-color: black;
    color:white;
    width: 100%;
    position:absolute;
    bottom:0;
}
    .speak img{
        float:left;
        width:20%;
    }
    .speak .text{
        font-size: 80%;
        float:left;
        display: inline-block;
        width:75%;
        padding: 2% 0 2% 2%;
    }

/*** Action choices ***/
.text button{

}   
    .textButton:nth-child(2){
        color:#FF9E00; /*orange*/
    }
    .textButton:nth-child(4){
        color:#CE0000; /*rouge*/
    }
    .textButton:nth-child(6){
        color:#F7D708; /*jaune*/
    }

/*** Game screens ***/
.score, .quit{
    margin: 1%;
}
    .score{
        float:left;
    }
    .quit{
        float:right;
    }


/*** Credits ***/
#credits{
    width: 80%;
    margin: 4% auto;
    font-size: 50px;
    color: #FF9E00;
    background-color: black;
    padding:4%;
}
    #credits span{
        font-weight: bold;
        color:#9CCF31;
    }

/*** Configuration ***/
#configuration{
    width: 80%;
    margin: 4% auto;
    font-size: 50px;
    color: #FF9E00;
    background-color: black;
    padding:4%;
    line-height: 200%;
}
    #configuration button{
        float:right;
        padding:2%;
        background-color: #9CCF31;
        margin-bottom: 2%;
        margin-top: 8%;
        margin-right: -4%;
    }
    #configuration input{
        width:50%;
        height:50px;
        font-size: 80%;
    }
    #configuration label{
        margin-right: 2%;
    }
/*** background images ***/
.background{
    width:100%;
}
/*** ***/
#cards{
    position:absolute;
    margin-top:10%;
}
    #cards img{
        width:100%;
    }

    #cards tr{
        height:178px;
    }
#hide{
    position: absolute;
    margin-top: 10%;
}
    #hide img{
        width:100%;
    }
        #hide tr{
            height:178px;
        }