/*bleu 009ECE
orange FF9E00
jaune F7D708
rouge CE0000
vert 9CCF31
*/
body{
	background-color:#009ECE;
	font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/*** LogoScreen ***/
.app {
    width: 70%;
}   
    .app img{
        width: 25%;
        margin: 0 auto;
        display: table-cell;
    }
    #iut{
        width: 15%;
        margin-top: 3%;
        float:right;
    }

h1 {
    font-size:200%;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:8px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:70%;
    margin:0px 30px;
    padding:5px 15px;
    text-align: center;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
/*** End LogoScreen ***/

.content{
	font-size: 400%;
	width: 80%;
	padding: 10%;
    margin: 0 auto;
}
h2{
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    margin-top: -5%;
}
button{
    font-size: 1em;
    background: none repeat scroll 0 0 transparent;
    border:medium none;
    color:white;
    border-radius: 20px;
}
/*** home ***/
#home{
    text-align: center;
}
    #home h2{
        margin-bottom: 8%;
    }
    #home button{
        padding: 2%;
        margin: 2% 0 2% 0;
        color:black;
        background-color: #FF9E00;
    }

.selected {
    border : 3px #519802 groove;
    background-color:#519802;
}

